:root {
    --background-primary: #212529;
    --background-secondary: #495057;
    --font-primary: #F8F9FA;
    --font-secondary: #6C757D;
    --font-name: 72px;
    --font-title: 48px;
    --font-subtitle: 32px;
    --font-description: 24px;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

body {
    background-color: var(--background-primary);
    color: var(--font-primary);
    font-family: 'Droid Sans';
}

.code-preview {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: .2rem;
    color: #c79178;
}

.bg-secondary {
    background-color: var(--background-secondary) !important;
}