:root {
    --background-primary: #212529;
    --background-secondary: #343A40;
    --font-primary: #F8F9FA;
    --font-secondary: #6C757D;
    --font-name: 72px;
    --font-title: 48px;
    --font-subtitle: 32px;
    --font-description: 24px;
}

.bg-black {
    background-color: var(--background-primary);
}

.bg-gray {
    background-color: var(--background-secondary);
}