@import url(/assets/css/fonts.css);
/* Reset */

:root {
    --color-black: #000;
    --color-white: #fff;
    --background-primary: #131417;
    --background-secondary: #2C303A;
    --background-tertiary: #5A5F73;
    --font-primary: #E6E6E6;
    --font-secondary: #C7C9D3;
    --font-tertiary: #13C0F0;
    --button-primary: #248C46;
    --button-secondary: #444857;
    --button-tertiary: #FFDD40;
    --button-primary-hover: #47cf73;
    --button-secondary-hover: #5A5F73;
    --button-tertiary-hover: #ffd519;
    --font-giant: 38px;
    --font-title: 32px;
    --font-subtitle: 24px;
    --font-description: 18px;
    --font-small: 14px;
}

@media (max-width: 992px) {
    :root {
        --font-giant: 28px;
        --font-title: 24px;
        --font-subtitle: 20px;
        --font-description: 14px;
        --font-small: 12px;
    }
}

.font-giant {
    font-size: var(--font-giant);
}

.font-title {
    font-size: var(--font-title);
}

.font-subtitle {
    font-size: var(--font-subtitle);
}

.font-description {
    font-size: var(--font-description);
}

.font-small {
    font-size: var(--font-small);
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}


/* default */

body {
    background-color: var(--background-primary);
    color: var(--font-primary);
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
}

.container-flex {
    width: 100%;
    display: flex;
}

.session {
    display: flex;
    padding: 30px 8.3% 30px 8.3%;
    flex-direction: column;
}

.content {
    max-width: 1920px;
}

.session {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    justify-content: center;
    padding: 30px 8.3% 30px 8.3%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: var(--font-title);
    padding: 32px 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* default */

/* PROFILE */

.profile-content {
    background-color: var(--background-primary);
}

.profile h1 {
    font-weight: bold;
    font-size: var(--font-title);
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile h4 {
    font-weight: lighter;
    color: var(--font-secondary);

    font-size: var(--font-description);
}

.profile .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    border-radius: 20px;
    padding: 60px 100px;
    width: 1200px;
}

.profile .profile-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
}

.profile .profile-avatar img {
    background-color: rgb(39, 39, 39);
    border: var(--background-tertiary) solid 1px;
    border-radius: 50%;
    max-height: 200px;
    margin-left: 16px;
}

.profile .profile-info {
    flex-grow: 1;
    padding: 0 8%;
}

.profile .profile-info .profile-theme {
    background-color: transparent;
}

.profile .profile-social {
    display: flex;
}

.profile .profile-social i {
    color: var(--font-secondary);
    margin: 16px;
}


@media (max-width: 1920px) {
    .container {
        padding: 0px 8.3% 0px 8.3%;
    }
}

@media (max-width: 1600px) {}

@media (max-width: 1200px) {

    .profile .profile-content {
        width: 800px;
        padding: 30px 50px;
    }

    .profile .profile-avatar img {
        max-height: 180px;
        margin-left: 0;
    }

    .profile .profile-info {
        padding: 0px 4%;
    }
}

@media (max-width: 992px) {

    .profile .profile-avatar img {
        max-height: 160px;
        margin-left: 0;
    }

    .profile i {
        font-size: 28px;
    }
}

@media (max-width: 776px) {

    .profile .profile-content {
        border-radius: 0;
    }

    .profile .profile-info {
        padding: 20px 0;
        text-align: center;
    }

    .profile .profile-avatar {
        display: flex;
        flex-direction: column;
    }

    .profile .profile-theme {
        position: absolute;
        right: 20px;
    }
}

/* SESSION */

.bg-black {
    background-color: var(--background-primary);
}

.bg-gray {
    background-color: var(--background-secondary);
}

.session .content .content-head {
    display: flex;
}

/* SESSION */

/* SOCIAL */

.session .content .content-head .content-title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-title);
    padding: 50px;
}

.session.social .content .content-body {
    padding: 30px 0 30px 0;
}

.session.social .content .content-body .social-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.session.social .content .content-body .social-card {
    width: 465px;
    height: 210px;
    border-radius: 30px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
}

.session.social .content .content-body .social-card .social-card-icon {
    height: 110px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.session.social .content .content-body .social-card .social-card-icon img {
    height: 100%;
}

.session.social .content .content-body .social-card .social-card-content {
    width: calc(100% - 150px);
}

.session.social .content .content-body .social-card .social-card-content .social-card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    text-align: center;
    padding: 10px 0 10px 0;
}

.session.social .content .content-body .social-card .social-card-content .social-card-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    text-align: center;
    padding: 10px 0 10px 0;
}

/* SKILL */

.session.skill .content .content-body {
    padding: 30px 0 30px 0;
}

.session.skill .content .content-body .skill-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.session.skill .content .content-body .skill-card {
    width: 465px;
    height: 150px;
    border-radius: 30px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
}

.session.skill .content .content-body .skill-card .skill-card-icon {
    height: 110px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.session.skill .content .content-body .skill-card .skill-card-icon img {
    height: 100%;
}

.session.skill .content .content-body .skill-card .skill-card-content {
    width: calc(100% - 150px);
}

.session.skill .content .content-body .skill-card .skill-card-content .skill-card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    text-align: left;
    padding: 8px 0 8px 10px;
}

.session.skill .content .content-body .skill-card .skill-card-content .skill-card-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    text-align: left;
    padding: 8px 0 8px 10px;
}

/* SKILL */

/* FORMATION */

.session .content .content-head .content-title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-title);
    padding: 50px;
}

.session.formation .content .content-body {
    padding: 30px 0 30px 0;
}

.session.formation .content .content-body .formation-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.session.formation .content .content-body .formation-card {
    width: 700px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.session.formation .content .content-body .formation-card .formation-card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.session.formation .content .content-body .formation-card .formation-card-header .formation-card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    color: var(--font-secondary);
    padding: 0px 35px 0px 0px;
}

.session.formation .content .content-body .formation-card .formation-card-header .formation-card-icon {
    width: 72px;
    height: 72px;
    padding: 0px 0px 0px 35px;
}

.session.formation .content .content-body .formation-card .formation-card-icon img {
    height: 100%;
}

.session.formation .content .content-body .formation-card .formation-card-body {
    width: 100%;
}

.session.formation .content .content-body .formation-card .formation-card-body .formation-card-content {
    padding: 0 35px 0 35px;
}

.session.formation .content .content-body .formation-card .formation-card-body .formation-card-content .formation-card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    text-align: left;
    padding: 10px 0 10px 0;
}

.session.formation .content .content-body .formation-card .formation-card-body .formation-card-content .formation-card-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-description);
    text-align: left;
    padding: 10px 0 10px 0;
}

/* FORMATION */

/* EXPERIENCE */

.session.experience .content .content-body .experience-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.session.experience .content .content-body .experience-card {
    height: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.session.experience .content .content-body .experience-card .experience-card-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.session.experience .content .content-body .experience-card .experience-card-header .formation-card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    padding: 0px 35px;
    color: var(--font-secondary);
}

.session.experience .content .content-body .experience-card .experience-card-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.session.experience .content .content-body .experience-card .experience-card-body .experience-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px 35px 0px 0px;
}

.session.experience .content .content-body .experience-card .experience-card-body .experience-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 250px;
    height: 250px;
    padding: 0px 35px;
}

.session.experience .content .content-body .experience-card .experience-dynamic-card {
    width: 100%;
}

.hide {
    transition: all 0.3s ease-in-out;
    display: none;
}

.session.experience .content .content-body .experience-card .experience-card-body .experience-card-image img {
    width: 75%;
}

.session.experience .content .content-body .experience-card .experience-card-body .experience-card-content .experience-card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-subtitle);
    padding-bottom: 20px;
}

.session.experience .content .content-body .experience-card .experience-card-body .experience-card-content .experience-card-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-description);
}

.session.experience .content .content-body .experience-card .experience-card-footer {
    width: 100%;
}

.session.experience .content .content-body .experience-card .experience-card-footer .carousel-indicators {
    display: flex;
    justify-content: center;
    width: 100%;
}

.session.experience .content .content-body .experience-card .experience-card-footer .carousel-indicators .indicator {
    width: 11px;
    height: 11px;
    background-color: var(--font-secondary);
    border-radius: 100%;
    margin: 4px;
    transition: all .3s ease-in-out;
    border: var(--font-secondary) solid 2px;
}

.session.experience .content .content-body .experience-card .experience-card-footer .carousel-indicators .indicator.active {
    width: 11px;
    height: 11px;
    background-color: var(--font-primary);
    border: var(--font-primary) solid 2px;
}

/* EXPERIENCE */

/* HISTORY */

.history .content-body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8.3%;
    border-radius: 2px;
    position: relative;
    padding: 2em 0;
    margin-top: 3em;
    margin-bottom: 3em;
}

.history .content-body::after {
    content: "";
    display: table;
    clear: both;
}

.history .content-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    width: 4px;
    background: var(--background-tertiary);
}

.history .timeline-block {
    position: relative;
    margin: 4em 0;
}

.history .timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.history .timeline-block:first-child {
    margin-top: 0;
}

.history .timeline-block:last-child {
    margin-bottom: 0;
}

.history .timeline-img {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--background-tertiary);
    margin-left: -15px;
    margin-top: 15px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.history .timeline-content {
    position: relative;
    background: var(--background-primary);
    border-radius: 20px;
    color: var(--font-primary);
    padding: 1.6em;
    width: 45%;
    margin: 0;

}

.history .timeline-content .timeline-content-info {
    float: right;
}

.history .timeline-content .timeline-content-info i {
    margin-right: 5px;
}

.history .timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.history .timeline-content p {
    margin: 0.75em 0;
}

.history .timeline-content::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: var(--background-primary);
}

.history .timeline-block:nth-child(even) .timeline-content {
    float: right;
}

.history .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: var(--background-primary);
}

@media (max-width: 1200px) {

    .history .content-body {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .history .timeline-content {
        width: auto;
    }

    .history .content-body::before {
        left: 25px;
    }

    .history .timeline-block {
        margin: 2em 0;
    }

    .history .timeline-img {
        left: 12px;
        margin: -2px;
    }

    .history .timeline-content {
        padding: 1em;
        margin-left: 60px;
        margin-right: 30px;
    }

    .history .timeline-content::before {
        right: 100%;
        top: 16px;
        border-right: 7px solid var(--background-primary);
    }

    .history .timeline-block:nth-child(even) .timeline-content {
        float: unset;
    }

    .history .timeline-block .timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: var(--background-primary);
    }
}

@media (max-width: 500px) {

    .history .timeline-content .timeline-content-info .timeline-content-info-title,
    .history .timeline-content .timeline-content-info .timeline-content-info-date {
        display: block;
        width: 100%;
    }
}

/* HISTORY */

/* RESPONSIBLE */

@media (max-width: 1600px) {

    .about .about-content .about-profile {
        width: 360px;
    }
}

@media (max-width: 1200px) {

    .container {
        padding: 0px 5% 0px 5%;
    }

    .session.experience .content .content-body .experience-card .experience-card-body .experience-card-image {
        padding: 0;
        width: 200px;
        height: 200px;
    }

    .session.experience .content .content-body .experience-card {
        height: 350px;
    }
}

@media (max-width: 776px) {

    .container {
        padding: 0px 2.5% 0px 2.5%;
    }

    .session.experience .content .content-body .experience-card .experience-card-footer {
        padding: 20px 0 0 0;
    }

    .session.experience .content .content-body .experience-card {
        height: 100%;
        padding: 20px;
    }

    .session.experience .content .content-body .experience-card .experience-card-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .session.experience .content .content-body .experience-card .experience-card-body .experience-card-content {
        padding: 0;
    }

    .session.social .content .content-body .social-card {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .session.social .content .content-body .social-card .social-card-content {
        width: calc(100% - 100px);
    }

    .session.social .content .content-body .social-card .social-card-icon {
        height: 80px;
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .session.skill .content .content-body .skill-card .skill-card-icon {
        height: 80px;
        width: 130px;
    }

    .session .content .content-head .content-title {
        padding: 25px;
    }

    .session.skill .content .content-body,
    .session.formation .content .content-body,
    .session.social .content .content-body {
        padding: 0 0 30px 0;
    }

    .session.experience .content .content-body .experience-card .experience-card-header .formation-card-title {
        padding: 0;
    }

    .session.experience .content .content-body .experience-card .experience-card-body .experience-card-content .experience-card-title {
        padding: 20px 0;
    }

    .session.experience .content .content-body .experience-card .experience-card-body .experience-card-image img {
        width: 100%;
    }

    .session.experience .content .content-body .experience-card .experience-card-body .experience-card-image {
        padding: 15px;
        width: 125px;
        height: 125px;
    }

    .session {
        padding: 0;
    }

    .session.formation .content .content-body .formation-card,
    .session.skill .content .content-body .skill-card {
        width: 100%;
    }

}

/* RESPONSIBLE */

/* footer */

.footer {
    padding: 64px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
}

/* footer */

/* about */

.card {
    border-radius: 16px;
    padding: 32px;
    background-color: var(--background-primary);
    margin-top: 8px;
    text-align: justify;
}

/* about */

/*skills*/

.skills-card {
    border-radius: 16px;
    padding: 16px;
    background-color: var(--background-primary);
    margin: 8px;
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
    position: relative;
}

.skills-card img {
    height: 64px;
    width: 64px;
}

.skills-card span {
    position: absolute;
    top: 100px;
    font-size: 14px;
    text-align: center;
    text-wrap: nowrap;
    /* font-weight: 100; */
}

/*skills*/